[package]
name = "manta-trusted-setup"
version = "0.5.4"
edition = "2021"
authors = ["Manta Network <contact@manta.network>"]
readme = "README.md"
license-file = "LICENSE" 
repository = "https://github.com/Manta-Network/manta-rs"
homepage = "https://github.com/Manta-Network"
documentation = "https://github.com/Manta-Network/manta-rs"
categories = [""]
keywords = [""]
description = "MPC Ceremonies for Trusted Setup SRS Generation"
publish = false

[package.metadata.docs.rs]
# To build locally:
# RUSTDOCFLAGS="--cfg doc_cfg" cargo +nightly doc --all-features --open
all-features = true
rustdoc-args = ["--cfg", "doc_cfg"]

[badges]
is-it-maintained-issue-resolution = { repository = "Manta-Network/manta-rs" }
is-it-maintained-open-issues = { repository = "Manta-Network/manta-rs" }
maintenance = { status = "actively-developed" }

[features]
# Bincode for Message Signing
bincode = ["dep:bincode", "serde"]

# CSV for Ceremony Registries
csv = ["dep:csv", "serde", "std"]

# Perpetual Powers of Tau Ceremony
ppot = ["manta-crypto/ark-bn254"]

# Rayon Parallelization
rayon = ["manta-util/rayon"]

# Serde Serialization
serde = [
    "manta-crypto/serde",
    "manta-util/serde",
    "manta-util/serde-alloc",
    "manta-util/serde-array"
]

# Standard Library
std = ["manta-util/std"]

# Testing Frameworks
test = ["manta-crypto/test"]

[dependencies]
ark-groth16 = { version = "0.3.0", default-features = false }
ark-poly = { version = "0.3.0", default-features = false }
ark-std = { version = "0.3.0", default-features = false }
bincode = { version = "1.3.3", optional = true, default-features = false }
blake2 = { version = "0.10.4", default-features = false }
bs58 = { version = "0.4", default-features = false, features = ["alloc"] }
colored = { version = "2.0.0", default-features = false }
console = { version = "0.15.1", default-features = false }
csv = { version = "1.1.6", optional = true, default-features = false }
derivative = { version = "2.2.0", default-features = false, features = ["use_core"] }
dialoguer = { version = "0.10.2", default-features = false }
manta-crypto = { path = "../manta-crypto", default-features = false, features = ["arkworks", "getrandom", "rand_chacha", "dalek"] }
manta-util = { path = "../manta-util", default-features = false, features = ["reqwest"] }
parking_lot = { version = "0.12.1", default-features = false }
tiny-bip39 = { version = "1.0.0", default-features = false } 

[dev-dependencies]
ark-snark = { version = "0.3.0", default-features = false }
manta-accounting = { path = "../manta-accounting", default-features = false }
manta-crypto = { path = "../manta-crypto", default-features = false, features = ["ark-bn254", "arkworks", "getrandom", "rand_chacha"] }
manta-parameters = { path = "../manta-parameters", default-features = false, features = ["download"] }
manta-pay = { path = "../manta-pay", default-features = false, features = ["groth16", "test"] }
manta-trusted-setup = { path = ".", default-features = false, features = ["std", "test"] }
memmap = { version = "0.7.0", default-features = false }
tempfile = { version = "3.3.0", default-features = false }
